language: node_js
node_js:
  - "14"
cache:
  directories:
    - node_modules
script:
  npm run build
deploy:
  provider: pages
  skip_cleanup: true
  local_dir: build
  github_token: $GITHUB_TOKEN
  keep_history: true
  on:
    branch: main